# dependencies
node_modules/

# next.js
.next/

# build
dist/
build/

# environment
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

.vscode/           # Configurações do VS Code (opcional)
.idea/             # Configurações do WebStorm/IntelliJ (opcional)
*.local            # Outros arquivos de configuração local

backup-repo.git/